// Make map move vertically

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


#map_image {
	animation-name: mapanimation;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	fill: black;
	height: 50px;
	width: 50px;
}

#box {
	animation-name: fadein;
	animation-duration: 2s;
	-webkit-animation: fadein 2s; /* Chrome */
	animation-direction: alternate;
	animation-iteration-count: infinite;
	background-color: white;
	height: 50px;
	width: 50px;
}